.experiment-page{
  height: 100%;
  background: #363533 url(../image/office_2_scren_resize.jpg) no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .leftScreen{
    position: absolute;
    top: 55px;
    left: 66px;
    width: 475px;
    .CodeMirror{
      height: 256px;
    }
  }
  .rightScreen{
    position: absolute;
    top: 55px;
    left: 711px;
    background: black;
    color: white;
    width: 477px;
    height: 257px;
    font-size: 16px;
    textarea{
      width: 473px;
      height: 180px;
      background: black;
      color: white;
      border: none;
      &:focus{
        border: none;
      }
    }
  }
  .clock{
    font-size: 45px;
    position: absolute;
    top: 408px;
    left: 226px;
  }
}
.ReactModalPortal{
  &>div{
    &>div{
      z-index: 100;
    }
  }
}
