@import 'utils.scss';

.regular, .noClock {
  .experiment-page {
    height: 100%;
    background: #363533 url(../image/office_2_scren_resize.jpg) no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .leftScreen {
      position: absolute;
      top: 55px;
      left: 66px;
      width: 475px;
      .CodeMirror {
        height: 256px;
      }
    }
    .rightScreen {
      position: absolute;
      top: 55px;
      left: 711px;
      background: black;
      color: white;
      width: 477px;
      height: 257px;
      font-size: 16px;
      textarea {
        width: 473px;
        height: 180px;
        background: black;
        color: white;
        border: none;
        &:focus {
          border: none;
        }
      }
      .footer {
        & > div {
          float: right;
        }
        & > .btn {
          padding: 3px 8px;
          margin-right: 5px;
        }
      }
    }
    .clock {
      font-size: 45px;
      position: absolute;
      top: 408px;
      left: 226px;
    }
  }
}
.noClock{
  .clock {
    display: none;
  }
}
.ReactModalPortal{

  &>div{
    &>div{
      z-index: 100;
    }
  }
  .ReactModal__Overlay{
    z-index: 10;
  }

  .ReactModal__Content{
    width: 561px;
    height: 85%;
    .questionSummary{
      @include center-vertical-div;
      height: 137px;
    }
    .experimentSummary{

    }
    .answersCompare{
      @include clearfix;
      padding-left: 60px;
      padding-right: 60px;
      margin-bottom: 50px;
      font-size: 39px;
    }
    .userAnswer{
      float: left;
    }
    .rightAnswer{
      float: right;
    }
    .compliment{
      margin-bottom: 15px;
      text-align:center;
    }
    .thankYou{
      font-size: 32px;
      text-align: center;
    }
    .finalResults{
      font-size: 23px;
      text-align: center;
    }
    .btn{
      @include center-horizontal-div();
    }
  }
}
