.summaryQuestionnaire{
  input{
    margin-left: 40px;
  }
  .lastEffort{
    font-size: 32px;
    text-align: center;
  }
  .instruction{
    font-size: 20px;
  }
  .index{
    margin-bottom: 15px;
    font-size: 13px;
    text-align: center;
  }

}
