@import 'utils.scss';

.welcomePage {
  @include center-horizontal-div;
  font-size: 1.25rem;
  font-weight: 300;
  width: 954px;
  &>.header {
    background: url(../image/getTheCode.jpg) no-repeat center;
    width: 100%;
    height: 129px;
  }
  .explain{
    width: 616px;
  }
  .btn{
    position: absolute;
    top: 458px;
    right: 132px;
  }
  .hacker{
    background: url(../image/hackerSmall.jpg) no-repeat;
    position: absolute;
    right: 0px;
    top: 150px;
    width: 347px;
    height: 289px;
  }
}
