<div class="answerArea">

	<div>Remember: 'print()' prints the output without spaces or new line.</div>
	<div>Type here your answer, press the relevant button below when you finish.</div>

	<div class="mark">></div>
	<textarea ng-model="answer" ng-enter="thinkIMadeIt()"></textarea>
	
	<button class="thinkIMadeIt" ng-click="thinkIMadeIt()" ng-disabled="gameOver">Think I made it!</button>
	<button ng-click="skipQuestion()" ng-disabled="gameOver">Skip</button>
	<div class="questionsCounter">
		Question number {{numOfQuestions}} out of {{totalNumOfQuestions}} questions
	</div>
</div>