.main{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1248px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.pic{
    background: #363435;
}

.CodeMirror {
    border: 1px solid #ccc;
    font-size: 90%;
    margin-bottom: 6px;
    background: white;
    height: 254px;
}

.added{
    color: yellow;
}
.correct{
    color: green;
}
.removed{
    color: red;
}

.ui-button.ui-dialog-titlebar-close{
    display: none;
}

.answerArea{
    position: absolute;
    top: 55px;
    left: 711px;
    background: black;
    color: white;
    width: 477px;
    height: 257px;
    font-size: 16px;
}
.answerArea .mark{
    float: left;
}
.answerArea textarea{
    width: 451px;
    height: 214px;
    background: black;
    color: white;
    border: none;
}

.answerArea textarea:focus {
  border: none;
}

.your-answer{
    float: left;
    width: 50%;
    text-align: center;
}

.right-answer{
    float: right;
    width: 50%;
    text-align: center;
}

.compliment{
    width: 100%;
    text-align: center;
}

.vs{
    float: left;
}

.clear{
    clear: both;
}

.differences{
    text-align: center;
}

.login{
    /*height: 100%;*/
    /*background-image: url(image/hacker.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
}

.title{
    background-image: url(image/getTheCode.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 129px;
}

.hacker{
    background-image: url(image/hackerSmall.jpg);
    background-repeat: no-repeat;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 670px;
    right: 0;
    width: 347px;
    height: 289px;
    top: 248px;
}

.timer{
    width: 40px;
    font-family: digital;
    font-size: 63px;
    position: absolute;
    top: 408px;
    left: 226px;
}

.codeArea{
    position: absolute;
    top: 55px;
    left: 66px;
    width: 475px;
    font-size: 18px;
}

.questions{
    background-image: url(image/office_2_scren_resize.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-color: #363533;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loginContent{
    z-index: 10;
    position: absolute;
    top: 122px;
    width: 932px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-family: aaargh;
    font-weight: bold;
    text-align: justify;
}

.gotItButton{
    position: absolute;
    bottom: 46px;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    width: 281px;
    z-index: 100;
}

.loginOpacity{
/*    z-index: 5;
    position: absolute;
    top: 154px;
    opacity: 0.6;
    height: 781px;
    background-color: #ffffff;
    animation-name: loginOpacityAnimation;
    animation-duration: 0.5s;
    width: 849px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;*/
}

.introduction{
    font-size: 23px;
}

@keyframes loginOpacityAnimation {
    from {opacity: 0;}
    to {opacity: 0.4;}
}

@font-face {
    font-family: aaargh;
    src: url(font/Aaargh.ttf);
}

@font-face {
    font-family: digital;
    src: url(font/digital-7.ttf);
}

.login .question{
    margin-bottom: 9px;
}

.login button{
    box-shadow: rgb(151, 196, 254) 0px 1px 0px 0px inset;
    border-radius: 6px;
    border: 1px solid rgb(51, 127, 237);
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 16px 61px;
    text-decoration: none;
    text-shadow: rgb(21, 112, 205) 0px 1px 0px;
    background: linear-gradient(rgb(61, 148, 246) 5%, rgb(30, 98, 208) 100%) rgb(61, 148, 246);
    font-size: 38px;
}

.loginButton{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0px;
    right: 26px;
}

.questionsCounter{
    float: right;
}