.CodeMirror {
    border: 1px solid #ccc;
    height: 200px;
    font-size: 90%;
    margin-bottom: 6px;
    background: white;
}

.added{
    color: yellow;
}
.correct{
    color: green;
}
.removed{
    color: red;
}

.ui-button.ui-dialog-titlebar-close{
    display: none;
}

.your-answer{
    float: left;
}

.right-answer{
    float: right;
}

.vs{
    float: left;
}

.clear{
    clear: both;
}

.differences{
    text-align: center;
}